body{
    font-family: 'Slabo 27px', serif;
}


h1{
    font-size:50px;
}
.mini{
    color:orange;
}
.text{
    width:30%;
    float:left;
    margin-left: 7%;
    padding-left: 4%;
}
.text img{
    width:100%;
}